.proxiHead {
    display: flex;
    justify-content: space-between;
}

.proxiHead .categorie,
.search {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.proxiHead .search span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 3%;
    background-color: #ffc4ac;
}

.proxiHead .search span i {
    color: white;
}
.btndestrucs{
    background-color: var(--rose);
    color: white;
}
/* Pagination styles */
.pagin .pagination .page-link {
    color: var(--rose);
  }
  
  .pagin .pagination .page-item.active .page-link {
    background-color: var(--rose);
    border-color: var(--rose);
    color: white;
  }
  