<!-- navbar -->
<app-navbar></app-navbar>

<!-- banner-img -->
<section class="carousel">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/bannieres/ban2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/bannieres/ban2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/bannieres/ban2.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">avant</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">apres</span>
        </button>
    </div>
</section>
<!-- banner-img -->


<!-- à propos de nous -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="fw-bold">Qui sommes-nous ?</h2>
                </div>
            </div>
        </div>

        <div class="row mt-5 border align-items-center p-0">
            <div class="col-md-8 order-2 order-lg-1">
                <div class="me-md-2 me-lg-5 text-center mt-5 mt-md-0">
                    <p class="lead">Avec un accès facile via notre plateforme conviviale, les clients peuvent explorer
                        une diversité de cuisines, des saveurs exquises qui répondent à tous les goûts. Chez Easyleek,
                        nous mettons l'accent sur la qualité, la rapidité et la satisfaction du client, offrant ainsi
                        une expérience gastronomique unique à chaque commande.</p>
                    <p> Découvrez une nouvelle manière pratique et délicieuse de déguster vos plats préférés, le tout
                        réuni sur la plateforme Easyleek pour satisfaire vos papilles en toute simplicité.</p>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <img class="img-fluid rounded-3 w-100"
                    src="https://images.pexels.com/photos/763934/pexels-photo-763934.jpeg?auto=compress&cs=tinysrgb&w=600">
            </div>
        </div>

        <div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center">
                        <h2 class="fw-bold">Notre Objectif</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5 border align-items-center p-0">
                <div class="col-md-8">
                    <div class="me-md-2 me-lg-5 text-center mt-5 mt-md-0">
                        <p class="lead">
                            Chez Easyleek, notre objectif ultime est de redéfinir votre expérience culinaire en offrant
                            un accès facile à une variété de cuisines, toutes réunies sur notre plateforme conviviale.
                            Nous nous engageons à fournir des saveurs exquises qui satisfont tous les goûts, mettant en
                            avant la qualité, la rapidité et la satisfaction du client.</p>
                        <p>Nous aspirons à créer une expérience gastronomique unique à chaque commande, en mettant
                            l'accent sur la simplicité et la praticité. Notre plateforme est conçue pour vous permettre
                            de découvrir une nouvelle manière délicieuse de déguster vos plats préférés, tout en vous
                            offrant la diversité et la facilité d'accès dont vous avez besoin.</p>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <img class="img-fluid rounded-3 w-100"
                        src="https://images.pexels.com/photos/4262012/pexels-photo-4262012.jpeg?auto=compress&cs=tinysrgb&w=600">
                </div>
            </div>
        </div>

        <div class="row mt-5 border align-items-center p-0">
            <!-- section nos cible -->
                <div class="card mb-3 carteNoscible">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body my-5">
                                <h3 class="card-title"> Nos cibles</h3>
                                <p class="card-text my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incidition ullamco laboris nisi ut aliquip ex ea commodo condor
                                    consectetur adipiscing elit, sed do eiusmod tempor incidition ullam.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incidition ullamco laboris nisi ut aliquip ex ea commodo condor consectetur
                                    adipiscing elit, sed do eiusmod tempor incidition ullam.</p>
                            </div>
                        </div>
                        <div class="col-md-4 imageChefhover">
                            <img src="assets/TypeDeResto/image_ourChef.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            <!-- section nos cible -->
        </div>
    </div>
</section>
<!-- à propos de nous -->

<!-- Notre équipe -->

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="fw-bold">Notre èquipes</h2>
                </div>
            </div>
        </div>
<div class="row border row-cols-lg-3 row-cols-md-3 row-cols-sm-1  justify-content-between">
    <div class="card carteMere col">
        <button class="mail">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg>
        </button>
        <div class="profile-pic">
            <img src="assets/TypeDeResto/foodtruck.jpg" alt="">
            
        </div>
        <div class="bottom">
            <div class="content">
                <span class="name">My Name</span>
                <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
            </div>
           <div class="bottom-bottom">
            <div class="social-links-container">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter-x"></i>
            </div>
            <button class="button">Contact Me</button>
           </div>
        </div>
    </div>
    <div class="card carteMere col">
        <button class="mail">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg>
        </button>
        <div class="profile-pic">
            <img src="assets/TypeDeResto/foodtruck.jpg" alt="">
            
        </div>
        <div class="bottom">
            <div class="content">
                <span class="name">My Name</span>
                <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
            </div>
           <div class="bottom-bottom">
            <div class="social-links-container">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter-x"></i>
            </div>
            <button class="button">Contact Me</button>
           </div>
        </div>
    </div>
    <div class="card carteMere col">
        <button class="mail">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"></rect><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg>
        </button>
        <div class="profile-pic">
            <img src="assets/TypeDeResto/foodtruck.jpg" alt="">
            
        </div>
        <div class="bottom">
            <div class="content">
                <span class="name">My Name</span>
                <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
            </div>
           <div class="bottom-bottom">
            <div class="social-links-container">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter-x"></i>
            </div>
            <button class="button">Contact Me</button>
           </div>
        </div>
    </div>
</div>
    </div>
</section>

<!-- Notre équipe -->




<!-- footer -->
<app-footer></app-footer>