<div class="Navigation sticky-top my-0 shadow border-0">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand logo" routerLink="/accueil">
                <img src="/assets/logo/logo.png" class="img-fluid" alt="image">
            </a>
            <button class="navbar-toggler burger collapsed text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigationMenu" aria-controls="navigationMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class=""><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse " id="navigationMenu">
                <ul class="navbar-nav mx-auto justify-content-center mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/accueil">Accueil</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/about">A propos</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/resto">Restaurants</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/contact">Contact</a>
                    </li>
                </ul>

                <div class="icons">
                    <span><a routerLinkActive="activeLink" routerLink="/login"><i class="fa-regular fa-user mx-3"></i></a></span>
                    <span><a routerLinkActive="activeLink"><i class="bi bi-cart3 mx-3"></i></a></span>
                </div>

            </div>

        </div>
    </nav>
</div>






