<div class="Navigation sticky-top my-0 shadow border-0">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand logo" routerLink="/accueil">
                <img src="/assets/logo/logo.png" class="img-fluid" alt="image">
            </a>
            <button class="navbar-toggler burger collapsed text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigationMenu" aria-controls="navigationMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class=""><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="navbar-collapse collapse " id="navigationMenu">
                <ul class="navbar-nav mx-auto justify-content-center mb-lg-0">
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/accueil">Accueil</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/resto">Restaurants</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/about">A propos</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" routerLinkActive="activeLink" routerLink="/contact">Contact</a>
                    </li>
                </ul>

                <div class="icons d-flex">

                    <div class="dropdown" *ngIf="authService.isLoggedIn()">
                        <a class="iconpanier" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user mx-3"> </i>
                        </a>
                        <ul class="dropdown-menu droprouge">
                            <li><a class="dropdown-item" href="#" routerLink="/profil">Mon profil</a></li>
                            <li><a class="dropdown-item" href="#" (click)="logout()">Deconnexion</a></li>
                        </ul>
                    </div>
                    
                    <div class="dropdown" *ngIf="!authService.isLoggedIn()">
                        <a class="iconpanier" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-user mx-3"> </i>
                        </a>
                        <ul class="dropdown-menu droprouge">
                            <li><a class="dropdown-item" href="#" routerLink="/login">Connexion</a></li>
                        </ul>
                    </div>
                    
                    <span><a routerLinkActive="activeLink" routerLink="/panier"><i class="bi bi-cart3 mx-3 iconpanier"></i></a></span>
                    <span>        <button (click)="toggleTheme()">Toggle Theme</button>
                    </span>

                </div>

            </div>

        </div>
    </nav>
</div>