<div class="sidebar-content h-100">
    <h2 class="text-center fw-medium py-2 text-light">EasyLeek</h2>
    <ul class="sidebarMenu">
        <li class="" routerLinkActive="activeLink">
            <a class="" href="" routerLink="accueilRestaurant" (click)="toggleSidebar()"><i class="fa-solid fa-house"></i>Dashboard</a>
        </li>
        <li class="" routerLinkActive="activeLink">
            <a href="" routerLink="menus"><i class="fa-solid fa-layer-group"></i>Gestion menus</a>
        </li>
        <li class="" routerLinkActive="activeLink">
            <a href="" routerLink="plats"><i class="fa-solid fa-address-book"></i>Gestion plats</a>
        </li>
        <li class="" routerLinkActive="activeLink">
            <a href="" routerLink="commandes"><i class="fa-solid fa-triangle-exclamation"></i>Gestion
                commandes</a>
        </li>
        <li class="" routerLinkActive="activeLink">
            <a href="" routerLink="avis"><i class="fa-solid fa-newspaper"></i>Avis</a>
        </li>
    </ul>
    <div class="logoConnect m-auto ">
        <a href="" routerLink="/admin">
            <img src="/assets/logo/logo.png" class="img-fluid w-100 h-100" alt="">
        </a>
    </div>

    <div class="disconnect d-flex justify-content-start align-content-center mb-4">
        <i class="fa-solid fs-4 fa-right-from-bracket "></i>
        <span class="text-light fw-bold">Deconnexion</span>
    </div>

</div>