/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

:root {
    --menucolour: #fff;
    --rose: #FFA07A;
    --maron: #5D3C22;
    --argent: #F0EAD6;
    --fisa: #F8F3C6;
}

body {
    transition: background-color 0.3s ease;
  }
  
  .night-mode {
    background-color: #212121;
    color: #fff;
  }
  

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', Helmet, Freesans, Tahoma, Geneva, sans-serif;
}
