.imgLogo {
    width: 80px;
}

.Navbar {
    padding: 6px 25px;
    background-color: white;
    color: black;
    border-bottom: 2px ssolid #fe5d1d !important;
    /* FFA07A */
    /* 5D3C22 */
}

.Navbar .navLeft {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar .profil {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.Navbar .rightNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow-x: visible; */
    /* z-index: 1; */
}

.Navbar .rightNav span {
    margin-right: 15px;
    padding: 0;
}

.rightNav img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 25px;
}

.rightNav i {
    color: #fe5d1d;
}

.Navbar .burger i {
    font-size: 30px;
    color: #FFA07A;
    cursor: pointer;
}

.rightNav .dropdown-center button {
    background-color: #FFA07A;
    color: white;
}


@media (max-width: 768px) {
    .Navbar .navLeft {
        width: 150px;
    }

    .rightNav .dropdown-center span {
        display: none;
    }
}