.pText{
    text-align: justify;
}
.carousel-item img{
    width: 100%;
    height: 70vh;
}
.btndestrucs{
    background-color: var(--rose);
    color: white;
}
.titreCartenekh{
    font-weight: bold;
    font-style: normal;
   }
 .titreCartenekh span{
    color: #FFA07A;
    
   }